<% include ../common/header.html %>
<div>
	<ol class="breadcrumb">
		<li><a href="main">首页</a></li>
		<li class="active">培训中心</li>
	</ol>
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<ul class="list-group">
				<a href="employee_manual" class="list-group-item list-group-item-default">员工手册&nbsp;》</a>
				<a href="#" class="list-group-item list-group-item-default">企业文化&nbsp;》</a>
				<a href="production_management#/pmList" class="list-group-item list-group-item-default">生产管理&nbsp;》</a>
				<a href="#" class="list-group-item list-group-item-default">质量管理&nbsp;》</a>
				<a href="#" class="list-group-item list-group-item-default">物流管理&nbsp;》</a>
			</ul>
		</div>
	</div>
</div>
<% include ../common/footer.html %>