extends layout

block content
  h1= title
  p Welcome to #{title}
  input(value='xx')
  button(value='sub ok' class='btn btn-info') submit
  input#btnOK(type='submit' value='ok1' class='btn')
  script(src = '/javascripts/index.js')
