<!doctype html>
<html lang="zh-CN" ng-app>
<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.min.css">
</head>
<body class="container"  ng-controller="Mycontroller">
	<div class="row">
		<h2>{{data.title}}</h2>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-4" ng-repeat="branch in data.menu">
			<div class="panel panel-info">
				<div class="panel-heading">
					<label>菜单{{$index}}</label>
					<input type="text" ng-model="branch.name">
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="sub in branch.sub_button">
							<label for="menuName">子项</label>
							<input type="text" size="8" ng-model="sub.name"/><p>
							<label>类型</label>
							<select ng-model="sub.type" 
								ng-options="opType.name as opType.text for opType in types">
								
							</select><p>
							<label >键值</label>
							<input size="20" ng-model="sub.key"/>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<button type="button" class="btn btn-success" ng-click="saveMenu()">
			<span class="glyphion glyphion-save"></span>更新
		</button>
	</div>
	<script type="text/javascript" src="javascripts/angular.min.js"></script>
	<script type="text/javascript" src="javascripts/menuShowCode.js"></script>
	<script type="text/javascript">
	window.modeData = <%- JSON.stringify(data) %>;
	//----来自node服务端的数据被写入modeData，这里需要尽快在controller中另存到变量
	</script>
</body>
</html>