<% include ../common/header.html %>
<div ng-controller="mainController">
  <nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img alt="Brand" src="/public/favicon.ico" style="width:30px;height:30px;"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu">
          <a href="{{item.href}}">{{item.text}}</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="jumbotron">
    <h1>欢迎加入云工作</h1>
    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p><a class="btn btn-primary btn-lg" href="registerUser" role="button">新用户注册</a></p>
  </div>
</div>

<script type="text/javascript" src="../public/javascripts/require.js" data-main="scripts/main">
</script>
<% include ../common/footer.html %>
